@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredoka';
    background-color: #3B38A0;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    
}
.titulo {            
    font-size: 32px;
    margin-block: 24px;
}

.subtitulo {
    font-size: 20px;
    margin-block-end: 16px;
}
#elegir-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    background-color: #B2B0E8;
    margin-block-start: 32px;
    border-radius: 8px;
    padding: 10px;
    max-width: 900px;
}
.tarjetas {
    display: flex;
    gap: 10px;
    /* background-color: red; */
}

.tarjetas label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px;
    background-color: #7A85C1;
    transition: all ease .3s;
}

.tarjetas input:checked + label{
    background-color: #3b38a0;
    
    & p{
        opacity: 1;
    }
    & img {
        opacity: .2;
    }
}

.tarjetas label p{
    opacity: 0;
    font-size: 1.2em;
    font-weight: bold;
    
}
.tarjetas label:hover {
    cursor: pointer;
    background-color: #3b38a0;

}
.tarjetas label:hover p{
    opacity: 1;
}
.tarjetas label:hover img{
    opacity: .2;
}

.tarjetas img{
    width: 80px;
    margin-left: -70px;
    
}
#elegir-mascota button{
    width: 40%;
    margin-block: 16px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3B38A0;
    color: white;
    font-weight: bold;
    transition: background-color ease .5s;
}

#elegir-mascota button:hover{
    cursor: pointer;
    background-color: #7A85C1;
    
}

input {
    display: none;
}
         
        
